.button {
    @include font($font-middle, 24px);

    height: 44px;
    padding: 0 spacer(10);
    position: relative;
    background-color: $blue;
    color: $white;
    border-radius: softer(4);
    cursor: pointer;
    transition: $fast-animation background-color;

    &:hover {
        background-color: lighten($blue, 10);
    }

    &:focus,
    &:active {
        box-shadow: 0 0 0 3px rgb($blue, 0.3);
    }

    &--white {
        background: $white;
        color: $blue;
        box-shadow: 0 2px 4px rgb($text-color, 0.1);

        &:hover {
            background-color: $blue;
            color: $white;
        }
    }

    &--yellow {
        background: $yellow;
        color: $text-color;
        box-shadow: 0 2px 4px rgb($text-color, 0.1);

        &:hover {
            background-color: lighten($yellow, 10);
        }
    }
}
