@import 'product-tabs.scss';
@import 'product-card.scss';

.main-products {
    &__tabs {
        margin-bottom: spacer(2);
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: spacer(21);
    }

    &__card {
        margin-right: spacer(6);
        margin-bottom: spacer(6);
        position: relative;
    }
}
